<form [formGroup]="dataService.initFormGroup">
  <mat-form-field>
    <mat-label>Number of alternatives</mat-label>
    <input
      matInput
      placeholder="Number of alternatives"
      formControlName="numberAlternatives"
      type="number"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of criteria</mat-label>
    <input
      matInput
      placeholder="Number of criteria"
      formControlName="numberCriteria"
      type="number"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of LT</mat-label>
    <input
      matInput
      placeholder="Number of LT"
      formControlName="numberLT"
      type="number"
      required
    />
  </mat-form-field>
  <div>
    <button mat-stroked-button matStepperNext>Next</button>
  </div>
</form>
